@model gomind.Models.Order

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.buyerid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.buyerid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.createtime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createtime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.send)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.send)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
